{:kotoba.app/id "cloud.itonami.isic-4719", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreieyd543naqzh27pao6v6pczsxzwqyhgeo3hdovscep2l2gkrojzze", :kotoba.app/embed-url "ipfs://bafkreieyd543naqzh27pao6v6pczsxzwqyhgeo3hdovscep2l2gkrojzze", :published {:archive "https://kotobase.net/ipfs/bafkreieyd543naqzh27pao6v6pczsxzwqyhgeo3hdovscep2l2gkrojzze", :size 72783, :put-status 201, :get-status 200, :at "2026-08-15T13:46:12.304Z"}}
